.main-image {
    margin: 30px;
    width: calc(100% - 60px);
    padding-top: 30px;
  }
  
  .center {
    margin: auto;
  }

  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  .mat-form-field-flex{
    width: 97% !important;
  }

  .content {
    position: absolute;
    z-index: 999999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .example-card {
    min-width: 500px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  body {
    background-color: red !important;
  }

  


