.example-card {
    max-width: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img {
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }