.example-card {
    max-width: 600px;
    margin-bottom: 15px;
    margin-top: 15px;
    opacity: 1 !important;
  }
  
  .example-card :hover {
    opacity: 0.95 !important;
    cursor: pointer;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img {
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }

  .button-delete{
    position: absolute;
    margin-top: 0px;
    z-index: 99999999;
    right: 10px
  }