<mat-card (mouseover)="hover = true" (mouseout)="hover = false" [class.mat-elevation-z4]="true"
    [class.mat-elevation-z10]="hover" class="example-card">
    <ngx-skeleton-loader *ngIf="!mostrarImagem" count="1" [theme]="{ 
        'border-radius': '10px',
        pulse: true,
        height: '378px'
    }"></ngx-skeleton-loader>

    <mat-card-content *ngIf="mostrarImagem">
        <img mat-card-image *ngIf="mostrarImagem" [src]="dado?.src" alt="Photo of a Shiba Inu">
        <p>
            {{dado?.descricao}}
        </p>
    </mat-card-content>
</mat-card>